<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wangweijun.standarddevelop">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".LeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/error"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".appmodule.home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />


                <!--<category android:name="android.intent.category.DEFAULT" /> <写在这里会引起图标没看见,写两个filter>
                <data
                    android:host="my.com"
                    android:scheme="m" />
                <data
                    android:host="my.com"
                    android:scheme="htt" />-->
            </intent-filter>
        </activity>


        <!--<activity
            android:name=".appmodule.home.MainActivity"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                &lt;!&ndash; Accepts URIs that begin with "http://www.example.com/gizmos”
                 app与域名关联，在服务器端配置https://www.example.net/.well-known/assetlinks.json&ndash;&gt;
                <data
                    android:host="www.example.com"
                    android:pathPrefix="/gizmos"
                    android:scheme="http" />
                &lt;!&ndash; note that the leading "/" is required for pathPrefix&ndash;&gt;
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                &lt;!&ndash; Accepts URIs that begin with "example://gizmos” &ndash;&gt;
                <data
                    android:host="gizmos"
                    android:scheme="example" />
            </intent-filter>
        </activity>-->


        <activity android:name=".appmodule.home.SecondActivity">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="www.example.net"
                    android:scheme="https" />
            </intent-filter>
        </activity>

    </application>

</manifest>